@font-face {
    font-family: "Inter";
    src: url(font/Inter_28pt-SemiBold.ttf) format("truetype");
}
@font-face {
    font-family: "Inter-Medium";
    src: url(font/Inter_28pt-Medium.ttf) format("truetype");
}
/*MENU*/

#menu{
    background-color: aliceblue;
    border-right: 2px solid #E0E0E0;
    grid-row: 1/3;
    font-family: Inter;
}

p{
    font-family: Inter;
}
a{
    text-decoration: none;
    color: black;
}

.opcoes-lista{
    font-family: Inter-Medium;
    display: flex;
    align-items: center;
    padding: 2px;
    margin: 5px;
    transition: all 0.3s;
    border-radius: 10px;
}
.selecionado{
    padding-left: 23%;
    color: white;
    border-radius: 5px;
    background-color: #15a1a8;
}

.opcoes-lista:hover{
    padding-left: 23%;
    color: white;
    border-radius: 5px;
    background-color: #15a1a8;
}

.opcoes-lista svg{
    margin: 5px;
}

.voltar{
    font-family: Inter-Medium;
    display: flex;
    padding-left: 23%;
    margin: 5px;
    transition: all 0.3s;
    border-radius: 10px;
}

.voltar:hover{
    transition: all 0.3s;
    color: white;
    padding-left: 0%;
    border-radius: 5px;
    background-color: #15a1a8;
}

ul{
    list-style-type: none;
}

#titulo-menu{
    margin-left: 16px;
    font-size: 20px;
    font-weight: bolder;
}

#menu div{
    margin: 10px;
}

#image-lateral{
    grid-column: 2/4;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
#image-lateral img{
    width: calc(111px/2);
    height: calc(307px/2);
}
#titulo-fora{
    grid-column: 2/4;
    grid-row: 1;
    margin-left: 40px;
    font-family: Inter-Medium;
    font-weight:bolder ;
    font-size: x-large;
    margin-top: 30px;
}
/*MENU*/
.escolha-america{
    padding: 20px;
    width: 200px;
    color: white;
    margin: 5px;
    border-radius: 15px;
    font-size: large;
    font-family: Inter;
    height: fit-content;
    background-color: #3ABDFF;
    display: none;
    transition: all 0.5s;
    text-align: center;
}
.escolha-america:hover{
    width: 400px;
}
#titulo-fora2{
    grid-column: 2/3;
    grid-row: 1;
    font-family: Inter-Medium;
    font-weight:bolder ;
    font-size: xx-large;
    text-align: center;
    margin-top: 30px;
}
#titulo-fora3{
    font-family: Inter-Medium;
    font-weight:bolder ;
    font-size: 35pt;
    margin-left: 20px;
    margin-top: 30px;
}
#imagens-paises{
    display: flex;
    justify-content: space-around;
}
#imagens-paises img{
    max-width: 300px;
    max-height: 300px;
}

.textos{
    font-family: Inter-Medium;
    font-weight:bolder ;
    font-size: x-large;
    margin: 0px;
    margin-left: 20px;
    
}

#opcao1{
    grid-column: 3;
    grid-row: 1;
    align-self: end;
    cursor:pointer;
}

#opcao2{
    grid-column: 3;
    grid-row: 2;
    cursor: pointer;
}

content{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr ;
    grid-template-rows: 1fr 1fr;
}
#items{
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
    grid-row: 1;
    width: 100%;
    justify-content: center;
    grid-column: 2/ span 3;
    align-self: center;
}
#paises{
    grid-row: 1 / 2;
    grid-column: 2 / span 3;
}
.paises{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Inter;
}
.titulo-america{
    font-size: xx-large;
    font-family: Inter;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    grid-row: 1;
    grid-column:2/ span 3;
}
.imagem-paises{
    margin: 10px;
    width: 100px;
    height: 100px;
    transition: all 0.4s;
}
.imagem-paises:hover{
    transform: scale(1.1);
}
